
    <section class="main container">
      <div class="header-content">
        <div class="logo">Logo</div>
        <div class="navigation">Navigation</div>
        <div class="header">Header/ Banner</div>
      </div>
      <div class="main-content">
          <div class="sidebar">Side bar</div>
          <div class="body">Body Area</div>
      </div>
      <div class="">
          <div class="footer">Footer</div>
      </div>
