<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/layout4.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout</title>
  </head>
  <body>
    <div class="">
      <div class="topic-layout">
        <h1>Layout 1</h1>
      </div>
      <div id="layout1" class="my-evenly"><%- include ('../layout1') %></div>
    </div>
    <div class="">
      <div class="topic-layout">
        <h1>Layout 2</h1>
      </div>
      <div id="layout1" class="my-evenly"><%- include ('../layout2') %></div>
    </div>
    <div class="">
      <div class="topic-layout">
        <h1>Layout 3</h1>
      </div>
      <div id="layout1" class="my-evenly"><%- include ('../layout3') %></div>
    </div>
    <div class="">
      <div class="topic-layout">
        <h1>Layout 4</h1>
      </div>
      <div id="layout1" class="my-evenly"><%- include ('../layout4') %></div>
    </div>
    <footer>
      <div style="text-align: center">
        <h4>Created by Traiphakh Sittikaew 6404101318</h4>
      </div>
    </footer>
  </body>
</html>
